body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  .game-name {
    white-space: pre-line;
    font-size: 36px;
    color: rgb(1, 129, 189);;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    white-space: pre-line;
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(117, 178, 206);
  }
  
  .square {
    background: rgb(1, 129, 189);
    border: 5px solid #fff;
    float: left;
    font-size: 72px;
    font-weight: bold;
    color: #fff;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  